@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
}

input, button {
    border: none;
    font-family: inherit;
    font-size: inherit;
}

input:focus, button:focus {
    outline: none;
}

button, input[type="submit"] {
    cursor: pointer;
    background: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Rubik';
    color: white;
}

.active {
    font-weight: 700;
    color: #FFD700;
}

.sidebar-link {
    @apply flex items-center transition-all duration-200 hover:text-yellowBtn
}

.fade-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 100ms ease-in, transform 100ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }
  
  .transaction-list {
    list-style-type: none;
    padding: 0;
  }
  